body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('wp5084722-cats-and-foxs-wallpapers.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  